@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --extra-light-blue: #02bad6;
    --gradient-blue : linear-gradient(to right top, #65dfc9, #6cdbeb);
    --light-blue: rgb(0, 185, 185);
    --progress-after: 60%;
}

a {
    cursor: pointer;
    text-decoration: none!important; 
}

/* Body */
body {
    font-family: "Poppins", sans-serif;
    display: flex;
    height: 100vh;
    align-items: center;
}

/* Wrapper */
.wrapper {
    margin: auto;
}

/* Glass */
.glass {
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    padding: .5rem;
    width: 60vw;
    height: 70vh;
    border-radius: 1rem;
    padding-top: 0;
    overflow: hidden;
    backdrop-filter: blur(1px);
}

/* User Profile */
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
}

.profile .pict {
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
}

.profile p {
    font-size: 13px;
}

/* Form Search */
.form-search input {
    width: 100%;
    line-height: 1rem;
    font-size: 15px;
    border: none;
    background: transparent;
    outline: none;
}

.form-search input:focus-visible {
    border-bottom: 1px solid rgba(129, 145, 152, 0.596);
}

.form-search textarea {
    width: 100%;
    line-height: 1rem;
    border: none;
    background: transparent;
    outline: none;
    max-height: 15px;
}

/* Card */
.cards {
    overflow-y: auto;
}

.card {
    /* display: flex; */
    background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    );
    /* border-radius: 1rem; */
    padding: .5rem 1rem;
    /* box-shadow: 1px 2px 5px rgb(122 122 122 / 21%); */
    border: none!important;
    justify-content: space-between;
    margin: .75rem 0;
    position: relative;
}

.card h4 {
    color: #444444;
}

.header h2 {
    font-weight: 600;
}

.header {
    align-items: flex-end;
}

.delete-card {
    padding: 0.25rem!important;
    padding-bottom: 0!important;
    padding-top: 0!important;
}

/* Form Card */
.form-card {
    color: #444444;
    font-size: 1.5rem!important;
}

.form-card:focus-visible {
    border: none!important;
}

/* Form Date of Card */
.form-date-card:focus-visible {
    border: none!important;
}

.form-date-card {
    color: #6c757d!important;
    opacity: 0;
    position: absolute;
}

/* Dashboard */
.col-dashboard {
    padding-top: 1rem;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
}

/* Form box */
.form-box {
    border-radius: 0.25rem;
    border: 1px solid #7a7a7a40;
    padding: 5px 0;
    padding-left: 5px;
    width: 100%;
}

.form-box:focus-visible {
    outline: none;
}

/* Form date */
.form-date {
    display: flex;
    align-items: center;
    position: relative;
}
.form-date i {
    position: absolute;
    right: 3%;
}

/* Form Item */
.form-item {
    font-weight: 300;
    font-size: 16px;
    color: #6c757d;
}

/* Sidebar */
.sidebar-nav {
    overflow-y: auto;
}

.sidebar-nav .item {
    text-decoration: none;
    color: #6c757d;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px .35rem;
}

.sidebar-nav .item .form-item {
    cursor: pointer;
}

.sidebar-nav .item .form-item:focus-visible {
    cursor: text;
}

.sidebar-nav .item.active {
    background-color: rgb(189 189 189 / 35%);
    border-radius: .55rem;
}

.sidebar-nav .item p {
    font-size: 12px;
    font-weight: 300;
}



/* Progress */
.progress {
    /* background: linear-gradient(to right top, #65dfc9, #6cdbeb); */
    width: 100%;
    height: .35rem!important;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}
.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: var(--progress-after);
}

/* New Card */
.new-card {
    /* background: linear-gradient(to right top, #65dfc9, #6cdbeb); */
    border-radius: .35rem;
    color: white;
    position: relative;
    border: none;
}

/* Task */
.expand-task {
    cursor: pointer;
}

.new-task {
    color: #6c757d;
}

.new-task:hover {
    color: #6c757d;
    text-decoration: none;
}



/* Custom Scroll Bar */
/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Hidden ghost in this list */
#hidden-drag-ghost-list .sortable-drag {
    opacity: 1;
}
#hidden-drag-ghost-list .sortable-drag .progress::after {
    opacity: 1;
    width: 40%;
}
#hidden-drag-ghost-list .sortable-ghost {
    opacity: 0;
}

#hidden-drag-ghost-list .card:nth-child(1) {
    margin-top: 0!important;
}

#hidden-drag-ghost-list {
    overflow-y: auto;
}

/* Custom color class */
.extra-light-blue {
    color: var(--extra-light-blue)!important;
}

.gradient-blue {
    background: var(--gradient-blue)!important;
}

.light-blue {
    color: var(--light-blue)!important;
}

.glass-input {
    border-bottom: 1px solid rgba(129, 145, 152, 0.596)!important;
}

.btn-hover:hover {
    transform: scale(1.05, 1.05);
}

.btn-outline {
    background: rgb(233 233 233 / 75%);
    color: #929292!important;
    cursor: pointer;
}

.btn-primary:focus {
    box-shadow: none;
}


@media screen and (max-width: 992px) {
    .glass {
        width: unset;
        height: 99vh;
    }
    .glasses {
        height: unset!important;
    }
    .sidebar-nav {
        max-height: 110px;
    }
}

@media screen and (max-width: 700px) {
    .glass {
        margin: 0 1rem;
    }
}
